* {
    margin: 0;
    padding: 0;
    top: 0;
}

img {
    width: 100%;
}

#gamestart-screen {
    position: relative;
    overflow: hidden;
}

#game-screen,
#gameover-screen,
#gamefinish-screen {
    display: none;
    position: relative;
    overflow: hidden;
}

#kutu {
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: 1.5em;

    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}